<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>jQuery Parallax Plugin Demo</title>
<link href="style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="scripts/jquery.localscroll-1.2.7-min.js"></script>
<script type="text/javascript" src="scripts/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="browse.js"></script>

</head>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <div class="modal-body">
        <h1><center>Welcome</center></h1>
      </div>
      <div class="modal-footer">
        <center>Its a Hardik Hardiya Production!</center>
      </div>
    </div>
  </div>
</div>


<body>
	<ul id="nav">
		<li><a href="#intro" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	    <li><a href="#second" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	    <li><a href="#third" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	    <li><a href="#fifth" title="Next Section"><img src="/assets/dot.png" alt="Link" /></a></li>
	</ul>
	
	<div id="intro">
		<div class="story">
	    	<div class="float-left">
			<h2>Hi , I am Hardik Hardiya</h2>
	        <p>I am a software developer, & develop many websites in Ruby On Rails alongside jquery,this is a parallax website .</p>
	        </div>
	    </div> <!--.story-->
	</div> <!--#intro-->
	
	<div id="second">
		<div class="story"><div class="bg"></div>
	    	<div class="float-right">
	            <h2>Hobbies</h2>
	            <p>I like travelling,so the image that you can see is from kerala(povar),other then travelling i like developing things,not only websites,but i also create servers for cs,ya i like cs most.</p>
	        </div>
	    </div> <!--.story-->
	    
	</div> <!--#second-->
	
	<div id="third">
		<div class="story">
	    	<div class="float-left">
	        	<h2>Occupation</h2>
	            <p>Like most of the people,i also have job in indore & am happy with that.</p>
	        </div>
	    </div> <!--.story-->
	</div> <!--#third-->
	
	<div id="fifth">
		<div class="story">
		  <div class="float-right">  
	        <h2>Contact Me!</h2>
	        <p>What are you expecting <strong>a so called contact form</strong>,just go to my facebook page or gmail or linkedin or twitter & message me thier,because if you are here, then you know me.</p>
	      </div>  
	    </div> <!--.story-->
	</div> <!--#fifth-->
</body>
<script type="text/javascript">
$(document).ready(function(){
	$('#nav').localScroll(800);
	
	//.parallax(xPosition, speedFactor, outerHeight) options:
	//xPosition - Horizontal position of the element
	//inertia - speed to move relative to vertical scroll. Example: 0.1 is one tenth the speed of scrolling, 2 is twice the speed of scrolling
	//outerHeight (true/false) - Whether or not jQuery should use it's outerHeight option to determine when a section is in the viewport
	$('#intro').parallax("50%", 0.1);
	$('#second').parallax("50%", 0.1);
	$('.bg').parallax("50%", 0.4);
	$('#third').parallax("50%", 0.3);
     $(window).load(function(){
        $('#myModal').modal('show');
    });
})
</script>
</html>